<!DOCTYPE html>
<html>
  <head>
  <style>
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover:not(.active) {
      background-color: #111;
      color:white;
  }

  .active {
      background-color: #B3B6B7;
  }
  </style>
  </head>
  <body>

  <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/project">Project</a></li>
  </ul>

  </body>

  <head>
    <title>Project Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to my project</h2>
      <br>
      <p>Click <a href="/project">here</a> to check it out</p>
    </div>
  </body>
</html>
